<!DOCTYPE html>
<html>
<head>
    <title>Resultado</title>
</head>
<body>
    <h1>Resultado del Formulario</h1>
    <p>Nombre: <%= nombre %></p>
    <p>Apellido: <%= apellido %></p>
    <p>Dirección: <%= direccion %></p>
    <p>Edad: <%= edad %> años</p>
    <p>Números en el comentario: <%= cantNumerosComentario %></p>
</body>
</html>